In [4]:
#idenfiers
name = "rk"
print(name)
print(type(name))
print(id(name))
# rules for identifiers
# only a-z,A-Z,numbers,_
language1 = "telugu";
print(language1)

rk
<class 'str'>
2046535506448
telugu

In [7]:
# problems
# 1person = "ravi"
# for = 1
Person = "luffy";
print(Person)

luffy

In [8]:
#reseved keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
# variables
a = 10
print(type(a),id(a))
b = 10
print(type(b),id(b))
b = "datascience"
print(type(b),id(b))

<class 'int'> 140719851455688
<class 'int'> 140719851455688
<class 'str'> 2046535693552

In [ ]:
#datatypes
#primitive (int,float,complex,str,bolean)
#non primitive(list,tuple,set,dict)
#int
a = 10
b = 0
print(type(a),type(b))
# float
c = 25.999
print(type(c))
# complex
c = 3+2j
print(type(c))
print(c.real)
print(c.imag)
#str
college = "mru"
course = 'datascience'
print(type(college),type(course))
#boalen
p = True
q = False
print(type(p))
print(type(q))

<class 'int'> <class 'int'>
<class 'float'>
<class 'complex'>
3.0
2.0
<class 'str'> <class 'str'>
<class 'bool'>
<class 'bool'>

In [33]:
#list
emptylist = [];
print(type(emptylist))
language = ["js","python","java","c","c++"]
print(len(language))
print(language[0])
print(language[-1])
print(language[0:2])
print(language[2:5])
print(language[3:0])
print(language[2:1])
print(language[3:0:-1])
print(language[0:3:-1])
print(language[4:3:-1])

<class 'list'>
5
js
c++
['js', 'python']
['java', 'c', 'c++']
[]
[]
['c', 'java', 'python']
[]
['c++']

In [ ]:
# tuple is used to represent a group of elements with immutable(non-changeable) type and ordered collection of elements
# creating empty tuple 2ways
t1 = ();
print(type(t1))
t2 = tuple();
print(type(t2))
# creating tuple with single value
t = ("python",);
print(type(t))
# creating tuple without ()
t = 10,20,30,40,50
print(type(t))
print(t[2])
print(t[2:0])
print(t[4:3])
print(t[4:3:-1])
print(t[2:5:-1])
print(t[0:3:-1])




# set is used to represent group of elements without dublicates and un-ordered collection
# create empty set
s = {}
print(type(s)) # dict
s = set();# empty set
print(type(s))
s = {100,100,200,300,300}
print(s)
l = [10,20,10,20,30]
# remove dublicates from list
newList = list(set(l))
print(newList)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
30
()
()
(50,)
()
()
<class 'dict'>
<class 'set'>
{200, 100, 300}
[10, 20, 30]

In [22]:


#dict if you want to represent a group of data as a key-value pairs 
# dublicate keys are not allow and dublicate values allowed
student = {
     "id":1,
     "name":"luffy",
     "yearOfStuding":3,
     "cource":"DataScience" ,
     "friends":["sai","siva","ravi"],
     "clg":"mru",
}
print(student["name"])
# formatting strings
print("my name is {} and im studing in {}".format(student["name"],student["clg"]))

print("my name is {} and im studing in {}".format(student["clg"],student["name"]))
print(f"my name is {student["name"]} and im studing in {student["clg"]} and {100 / 2 * 20}")

luffy
my name is luffy and im studing in mru
my name is mru and im studing in luffy
my name is luffy and im studing in mru and 1000.0

In [ ]:
#type casting : converting one type to another type
print(int("10"))
# print(int("100.5000")) 
# print(int("10+5j"))
# print(int("ten"))
a = "100+5j"
# print(int(a.real))
print(float("10"))
print(float("100.555"))
# print(float("10+5j"))

10
10.0
100.555

ValueError: could not convert string to float: '10+5j'

In [25]:
# creating multiple varibles
# a,b,c = 10,20,30;
# print(a,b,c)

#operators are used to perform operations on operands 
# 1.Arthimatic operator(+,-,*,/,%,**)
# 2.relational operator(>,<,>=,<=)
# 3.equlity operator(==,!=)
# 4.logical operator(and or)
# 5.special operators
print(2 == "2")
print(True == 1)
# str
print("python" >= "Python")
print(ord("P"),ord("p"))
print("Python" > "PYthon")
print(2 != 2)
# logical(and or) for non-bolean operator
# for non-bolean in and operator if a is true the result b , if a is false then the result is a
print(True and 0)
print(0 and "py")
print("" and "js")
print(" " and "js")
print(None and 0)
print(True and "true")
print([] and 0)
print(False and "false")
# # for non-bolean in or operator if a is true the result a , if a is false then the result is b
print("" or "ds")
print(" " or "py")
print(True or 0)
print(False or "zero")
print([] or "py")
# = is used assign values
# == for content comparsions
#identity operator(is, is not) is used for object comparsion or memory comparsions
# primitives types
a = 10
b = 10
print(id(a),id(b))
print(a is b)
b = 100
print(a is b)
c = 10+5j
d = 10+5j
print(c is d)
print(id(c),id(d))
d = c
print(c is d)
print(id(c),id(d))

l1 = [10,20]
l2 = [10,20]
print(l1 is l2)
print(l1 is not l2)
# membership operator(in ,not in ) are used for whether the given object or element or value in sequence
l = ["python","js","c","java"]
print("js" in l)
print("ruby" in l)
fav = input("enter your fav language? ")
if fav in l:
     print(f"my fav language {fav} at {l.index(fav)}")
else:
     print(f"the language {fav} is not present")

False
True
True
80 112
True
False
0
0

js
None
true
[]
False
ds

True
zero
py
140719672894872 140719672894872
True
False
False
1636874734224 1636874734960
True
1636874734224 1636874734224
False
True
True
False
the language ruby is not present

In [11]:
# iterative statements:-if you want to execute a group of statements multiple times we have to use for or while
# for :- we use for loop to iterate over a sequence(list,tuple,set,dict)
for i in range(6): 
     print(i)
sum = 0
for i in range(1,6):
     # sum = sum + i
     sum += i
print(sum)
# n = int(input("enter n value: "))
# sum = 0;
# for i in range(n+1):
#      sum += i
# print(sum)
# seperate even and odd to different list
l = [10,13,14,9,5,25,44]
even = [];
odd = [];
sum_even = 0
sum_odd = 0
for i in l:
     if i % 2 == 0:
          even.append(i)
          sum_even += i
     else:
          odd.append(i)
          sum_odd += i
print(l)
print("even numbers list",even)
print("odd numbers list",odd)
print(sum_even,sum_odd)

0
1
2
3
4
5
15
[10, 13, 14, 9, 5, 25, 44]
even numbers list [10, 14, 44]
odd numbers list [13, 9, 5, 25]
68 52

In [20]:
person = {
     "name":"luffy",
     "age":17,
     "dream":"King of pirates",
}
'''
print(person.keys())
print(person.values())
print(person.items())
d = [('name', 'luffy'), ('age', 17), ('dream', 'King of pirates')]
print(d[0][-1],d[-1][-1])
'''
for i in person:
     print(i)
# to get values
for i in person.values():
     print(i)
# to get both key and values
for k,v in person.items():
     print(k,v)

name
age
dream
luffy
17
King of pirates
name luffy
age 17
dream King of pirates

In [26]:
'''initilization
while(condition):
     last line increment and decrement
'''
i = 1
while(i < 6):
     print(i)
     i += 1
l = [5,2,-10,-5,-7,6]
p = []
n= []
i = 0
while i < len(l):
     if l[i] > 0:
          p.append(l[i])
     else:
          n.append(l[i])
     i += 1
print(p,n)

1
2
3
4
5
[5, 2, 6] [-10, -5, -7]

In [28]:
# reverse
for i in range(10,0,-1):
     print(i)
i = 10
while i > 0:
     print(i)
     i -= 1

10
9
8
7
6
5
4
3
2
1
10
9
8
7
6
5
4
3
2
1

In [37]:
# functions
def greetings():
     print("welcome to function")
# call function or invoking func
greetings()
greetings()
# positional arguments
def greetings(name,age):
     print(f"Welcome {name} and his {age} old")
greetings("luffy",20)
greetings(40,"py")# order imp
# keyword arguments
def sum(a,b):
     return a+b
print(sum(b = 10,a = 20))
# correct way
result = sum(a = 20,b = 10)
print(result)
# default parameters
def sum(a=0,b=0,c=0):
     return a+b+c
print(sum(a=10,b=5))
print(sum(a=10))
# print(sum(c= 100,b = 100,5))

welcome to function
welcome to function
Welcome luffy and his 20 old
Welcome 40 and his py old
30
30
15
10

In [12]:
# variable length arguments :- collect all the variables that are not in use(*)
def sum(a,b,*c):
     return f"{a+b} and unused values are{c} "
print(sum(5,10,5))
print(sum(5,200,500,120))

# keyword length arguments:- collect all the keyword arguments that are not in use(**)
def greetings(name,**temp):
     print("Welcome ",name)
     print(temp)
greetings("python",id="101",age=40)
# lambda function :- a function without name and it used for one time syntax: lambda arguments:expression or operation
n = int(input("enter n value"))
r = lambda x:x*x
print(r(n))
# ternary operator (result1 if condition else result2)
a = 10
b = 5
r = f"a value {a} is largest num" if a > b else  f"b value {b} is largest num"
print(r)
# map is used to iterate a sequence and apply some condition on each element
l = [5,10,15,20]
# without map
m = [];
for i in l:
     m.append(i*5)
print(m)
# map 
r = list(map(lambda x:x*5,l))
print(r)
# filter is used to apply some condition on sequence filter(func,sequence)
r = list(filter(lambda x: x% 2 != 0,l))
print(r)
# reduce function
# import functools
from functools import reduce

l = [5,10,15,20]
r = reduce(lambda x,y:x+y,l)
print(r)

15 and unused values are(5,)
205 and unused values are(500, 120)
Welcome  python
{'id': '101', 'age': 40}
25
a value 10 is largest num
[25, 50, 75, 100]
[25, 50, 75, 100]
[5, 15]
50

In [ ]:
# file operations (with)
# open(filelocation,mode)
'''
file_obj = open("data.txt","r")
print(file_obj)
file_data = file_obj.read(2)
print(file_data)
file_obj.close()'''
# with 
with open("data.txt","r") as file_obj:
     file_data = file_obj.readline()
     print(file_data)
with open("data.txt","r") as file_obj:
     file_data = file_obj.readlines()
     print(file_data)
     print(file_data[-1])
     for i in file_data:
          print(i)

hello

['hello\n', 'welcome to python\n', 'welcome to js']
welcome to js
hello

welcome to python

welcome to js

In [2]:
# exception handling: try and except
# syntax error
# logical error
# run time error

# syntax error
try:
     a = 10
     b = 20
     if (a > b){
          console.log("a is largesest")
     }
except SyntaxError:
     print("SyntaxError")

SyntaxError: invalid syntax (3104404062.py, line 10)

In [8]:
try:
     a = 5
     b = 0
     print("" / 2)
     print(a / b)
except Exception as e:
     print(e)
# except TypeError:
#      print("TypeError")
# except ZeroDivisionError:
#      print("ZeroDivisionError")
print("welcome to py")

unsupported operand type(s) for /: 'str' and 'int'
welcome to py

In [16]:
# valueError
try:
     n = int(input("enter n value: "))
     print(n / 0)
except (ValueError,ZeroDivisionError) as e:
     print(e)
else:
     print(n)
finally:
     print("finally is executed")

invalid literal for int() with base 10: ''
finally is executed

In [ ]:
# api calls in python
import requests
API_URL = 'https://fakestoreapi.com/products/'
try:
     response = requests.get(API_URL)
     print(response)
     if response.status_code == 200:
          data = response.json()
          print(data)
     else:
          print("404 not found")
except Exception as e:
     print(e)

<Response [200]>
{'id': 1, 'title': 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops', 'price': 109.95, 'description': 'Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday', 'category': "men's clothing", 'image': 'https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png', 'rating': {'rate': 3.9, 'count': 120}}

In [21]:
# 
res = requests.get('https://fakestoreapi.com/users')
print(res)
if res.status_code == 200:
     data = res.json()
     for i in data:
          print(i)

<Response [200]>
{'address': {'geolocation': {'lat': '-37.3159', 'long': '81.1496'}, 'city': 'kilcoole', 'street': 'new road', 'number': 7682, 'zipcode': '12926-3874'}, 'id': 1, 'email': 'john@gmail.com', 'username': 'johnd', 'password': 'm38rmF$', 'name': {'firstname': 'john', 'lastname': 'doe'}, 'phone': '1-570-236-7033', '__v': 0}
{'address': {'geolocation': {'lat': '-37.3159', 'long': '81.1496'}, 'city': 'kilcoole', 'street': 'Lovers Ln', 'number': 7267, 'zipcode': '12926-3874'}, 'id': 2, 'email': 'morrison@gmail.com', 'username': 'mor_2314', 'password': '83r5^_', 'name': {'firstname': 'david', 'lastname': 'morrison'}, 'phone': '1-570-236-7033', '__v': 0}
{'address': {'geolocation': {'lat': '40.3467', 'long': '-30.1310'}, 'city': 'Cullman', 'street': 'Frances Ct', 'number': 86, 'zipcode': '29567-1452'}, 'id': 3, 'email': 'kevin@gmail.com', 'username': 'kevinryan', 'password': 'kev02937@', 'name': {'firstname': 'kevin', 'lastname': 'ryan'}, 'phone': '1-567-094-1345', '__v': 0}
{'address': {'geolocation': {'lat': '50.3467', 'long': '-20.1310'}, 'city': 'San Antonio', 'street': 'Hunters Creek Dr', 'number': 6454, 'zipcode': '98234-1734'}, 'id': 4, 'email': 'don@gmail.com', 'username': 'donero', 'password': 'ewedon', 'name': {'firstname': 'don', 'lastname': 'romer'}, 'phone': '1-765-789-6734', '__v': 0}
{'address': {'geolocation': {'lat': '40.3467', 'long': '-40.1310'}, 'city': 'san Antonio', 'street': 'adams St', 'number': 245, 'zipcode': '80796-1234'}, 'id': 5, 'email': 'derek@gmail.com', 'username': 'derek', 'password': 'jklg*_56', 'name': {'firstname': 'derek', 'lastname': 'powell'}, 'phone': '1-956-001-1945', '__v': 0}
{'address': {'geolocation': {'lat': '20.1677', 'long': '-10.6789'}, 'city': 'el paso', 'street': 'prospect st', 'number': 124, 'zipcode': '12346-0456'}, 'id': 6, 'email': 'david_r@gmail.com', 'username': 'david_r', 'password': '3478*#54', 'name': {'firstname': 'david', 'lastname': 'russell'}, 'phone': '1-678-345-9856', '__v': 0}
{'address': {'geolocation': {'lat': '10.3456', 'long': '20.6419'}, 'city': 'fresno', 'street': 'saddle st', 'number': 1342, 'zipcode': '96378-0245'}, 'id': 7, 'email': 'miriam@gmail.com', 'username': 'snyder', 'password': 'f238&@*$', 'name': {'firstname': 'miriam', 'lastname': 'snyder'}, 'phone': '1-123-943-0563', '__v': 0}
{'address': {'geolocation': {'lat': '50.3456', 'long': '10.6419'}, 'city': 'mesa', 'street': 'vally view ln', 'number': 1342, 'zipcode': '96378-0245'}, 'id': 8, 'email': 'william@gmail.com', 'username': 'hopkins', 'password': 'William56$hj', 'name': {'firstname': 'william', 'lastname': 'hopkins'}, 'phone': '1-478-001-0890', '__v': 0}
{'address': {'geolocation': {'lat': '40.12456', 'long': '20.5419'}, 'city': 'miami', 'street': 'avondale ave', 'number': 345, 'zipcode': '96378-0245'}, 'id': 9, 'email': 'kate@gmail.com', 'username': 'kate_h', 'password': 'kfejk@*_', 'name': {'firstname': 'kate', 'lastname': 'hale'}, 'phone': '1-678-456-1934', '__v': 0}
{'address': {'geolocation': {'lat': '30.24788', 'long': '-20.545419'}, 'city': 'fort wayne', 'street': 'oak lawn ave', 'number': 526, 'zipcode': '10256-4532'}, 'id': 10, 'email': 'jimmie@gmail.com', 'username': 'jimmie_k', 'password': 'klein*#%*', 'name': {'firstname': 'jimmie', 'lastname': 'klein'}, 'phone': '1-104-001-4567', '__v': 0}

In [26]:
import requests
city = "Hyderabad"
key = "69362cc0c723942ed6a19b5ee740d75a"
url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={key}"

res = requests.get(url)
print(res)
if res.status_code == 200:
     data = res.json()
     print(data)

<Response [401]>